body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

h2 {
  text-align: center;
  margin: 16px 0;
}

.container {
  display: flex;
  flex-direction: column; /* 기본: 세로 정렬 */
  align-items: center;
  padding: 10px;
}

/* 좌측 정보 영역 */
#info-box {
  width: 90%;
  margin-bottom: 20px;
  text-align: center;
}

#photo {
  width: 100%;
  max-width: 300px;
  border-radius: 8px;
  box-shadow: 0 0 5px #999;
}

/* 지도 영역 */
#map {
  width: 90%;
  height: 600px;
  border: 2px solid #ccc;
}

/* 화면이 넓을 때만 좌우 분할 */
@media screen and (min-width: 768px) {
  .container {
    flex-direction: row; /* 가로 정렬 */
    justify-content: space-around;
    align-items: flex-start;
  }

  #info-box, #map {
    width: 45%;
  }

  #map {
    height: 600px;
  }
}
h2 a {
  text-decoration: none;
  color: black;
}

h2 a:hover {
  color: darkgreen;
}